body {
  background: #f6f6fa;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  font-family: "Montserrat", sans-serif;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
}
.wrapper {
  background: #ffffff;
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}
.main-content {
  padding-left: 88px;
  padding-top: 80px;
  padding-right: 40px;
  padding-bottom: 80px;
  box-sizing: border-box;
}
/* Info */
.my-name {
  color: #000;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  margin-top: 0;
  margin-bottom: 12px;
}
.my-descr1 {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}
.my-descr2 {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 10px;
  padding-left: 16px;
  margin-top: 0;
}
.my-profession {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 8px;
}
.my-info {
  margin-bottom: 40px;
}
/* Sidebar */
.sidebar {
  background: #e0ebfe;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  width: 370px;
}
.sidebar-content {
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}
/* Contacts */
.contacts-title {
  color: #161d2a;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}
.contacts-type {
  color: #161d2a;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 8px;
}
.contacts-link {
  color: #2979ff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}
.contacts-item {
  margin-top: 0;
  margin-bottom: 4px;
}
/* Skills */
.skills-title {
  color: #161d2a;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}
.skills-list {
  padding-left: 25px;
}
.skills-item {
  color: #161d2a;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
/* Projects */
.my-projects-title {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 8px;
}

.my-project-item {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.my-projects-list {
  padding-left: 16px;
}

.my-project-item-link {
  color: #005fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}

.my-project-item-tech {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.my-projects-container {
  margin-bottom: 40px;
}
/* Education */
.education-title {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 40;
  margin-bottom: 8px;
}
.place-of-study {
  color: #6d9bf5;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}
.special-of-study {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}
.time-of-study {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
}
.sep {
  color: #000;
}

